
:root {
    /* Use for panel border */
    --borderBorderSubtle: 1px solid var(--colorBorderSubtle);    
    /* Use for basic component border */
    --borderBorderBase: 1px solid var(--colorBorderBase);    
    /* Use for borders on dark background */
    --borderBorderContrast: 1px solid var(--colorBorderContrast);    
    /* Use for selected or active borders */
    --borderBorderPrimary: 1px solid var(--colorBorderPrimary);    
    /* Use for selected or active borders on hover */
    --borderBorderPrimaryHover: 1px solid var(--colorBorderPrimaryHover);    
    /* Use for borders for components in error status */
    --borderBorderError: 1px solid var(--colorBorderError);    
    /* Use for borders for components in error status on hover */
    --borderBorderErrorHover: 1px solid var(--colorBorderErrorHover);    
    /* Use for borders for components in success status */
    --borderBorderSuccess: 1px solid var(--colorBorderSuccess);    
    /* Use for borders for components in warning status */
    --borderBorderWarning: 1px solid var(--colorBorderWarning);    
    /* Use for focus border around components */
    --borderFocusPrimary: 2px solid var(--colorBorderFocusPrimary);    
    /* Use for focus border around components on dark backgrounds and in combination with primary border */
    --borderFocusPrimaryLight: 2px solid var(--colorBorderFocusPrimaryLight);    
    /* Use for focus border around components in error status */
    --borderFocusError: 2px solid var(--colorBorderFocusError);    
    /* Use for focus border around components in error status on dark backgrounds and in combination with primary border */
    --borderFocusErrorLight: 2px solid var(--colorBorderFocusErrorLight);    
    /* Use for focus border around components in success status */
    --borderFocusSuccess: 2px solid var(--colorBorderFocusSuccess);    
    /* Use for focus border around components in warning status */
    --borderFocusWarning: 2px solid var(--colorBorderFocusWarning);    
}