
:root {
    --colorCoreBlue100: #e6f7ff;    
    --colorCoreBlue200: #a8dfff;    
    --colorCoreBlue300: #7acaff;    
    --colorCoreBlue400: #52b4ff;    
    --colorCoreBlue500: #2795f5;    
    --colorCoreBlue600: #0074e8;    
    --colorCoreBlue700: #005ac2;    
    --colorCoreBlue800: #00439c;    
    --colorCoreBlue900: #002f75;    
    --colorCoreBlue1000: #001d4f;    
    --colorMediaPurple300: #e5adff;    
    --colorMediaPurple500: #c261ff;    
    --colorMediaPurple600: #a933fb;    
    --colorMediaPurple800: #6211ad;    
    --colorRetailCpgTeal500: #389d91;    
    --colorRetailCpgTeal600: #068576;    
    --colorNeutralGrayscale100White_: #ffffff;    
    --colorNeutralGrayscale200: #f8fafc;    
    --colorNeutralGrayscale300: #f0f4f8;    
    --colorNeutralGrayscale400: #e7ecf1;    
    --colorNeutralGrayscale500: #d0d7de;    
    --colorNeutralGrayscale600: #bac0c7;    
    --colorNeutralGrayscale700: #a5acb4;    
    --colorNeutralGrayscale800: #8c939f;    
    --colorNeutralGrayscale900: #656c78;    
    --colorNeutralGrayscale1000: #555b64;    
    --colorNeutralGrayscale1100: #424850;    
    --colorNeutralGrayscale1200: #393f48;    
    --colorNeutralGrayscale1300: #2e323a;    
    --colorNeutralGrayscale1400: #25282e;    
    --colorNeutralGrayscale1500: #1b1e22;    
    --colorNeutralGrayscale1600: #121417;    
    --colorErrorRed100: #fff2f0;    
    --colorErrorRed200: #ffd5cf;    
    --colorErrorRed300: #ffafa6;    
    --colorErrorRed400: #f58078;    
    --colorErrorRed500: #eb625d;    
    --colorErrorRed600: #dc2626;    
    --colorErrorRed700: #b5161b;    
    --colorErrorRed800: #8f0a13;    
    --colorErrorRed900: #69020c;    
    --colorSuccessGreen100: #deffe7;    
    --colorSuccessGreen200: #a6eeb9;    
    --colorSuccessGreen300: #71cd8a;    
    --colorSuccessGreen400: #43b766;    
    --colorSuccessGreen500: #20a54c;    
    --colorSuccessGreen700: #006529;    
    --colorSuccessGreen800: #00461f;    
    --colorSuccessGreen900: #002d15;    
    --colorSuccessGreen1000: #001f0f;    
    --colorWarningYellow100: #fffce6;    
    --colorWarningYellow200: #fff1a3;    
    --colorWarningYellow300: #ffe77a;    
    --colorWarningYellow400: #ffd952;    
    --colorWarningYellow500: #ffc929;    
    --colorWarningYellow600: #ffb600;    
    --colorWarningYellow700: #d69200;    
    --colorWarningYellow800: #a46a00;    
    --colorWarningYellow900: #895400;    
    --colorWarningYellow1000: #663c00;    
    --colorMediaPurple100: #fbf0ff;    
    --colorMediaPurple200: #f3d6ff;    
    --colorMediaPurple400: #d485ff;    
    --colorMediaPurple700: #8320d4;    
    --colorMediaPurple900: #450787;    
    --colorMediaPurple1000: #2e0461;    
    --colorRetailCpgTeal100: #e6f3f1;    
    --colorRetailCpgTeal200: #b2d9d5;    
    --colorRetailCpgTeal300: #8cc7c0;    
    --colorRetailCpgTeal400: #58ada3;    
    --colorRetailCpgTeal700: #05796b;    
    --colorRetailCpgTeal800: #045e54;    
    --colorRetailCpgTeal900: #034941;    
    --colorRetailCpgTeal1000: #033832;    
    --colorErrorRed1000: #420109;    
    --colorSuccessGreen600: #008933;    
    --colorPublicOrange100: #faede6;    
    --colorPublicOrange200: #efc8b2;    
    --colorPublicOrange300: #e8ae8d;    
    --colorPublicOrange400: #dd885a;    
    --colorPublicOrange500: #d9723a;    
    --colorPublicOrange600: #cc4e08;    
    --colorPublicOrange700: #ba4707;    
    --colorPublicOrange800: #913706;    
    --colorPublicOrange900: #702b04;    
    --colorPublicOrange1000: #562103;    
    /* Use for panel (container) and component surface color */
    --colorSurfaceBase: var(--colorNeutralGrayscale100White_);    
    /* Use for the UI background */
    --colorSurfaceBackground: var(--colorNeutralGrayscale300);    
    /* Use for emphasised areas in panels */
    --colorSurfaceOverlay: var(--colorNeutralGrayscale200);    
    /* Use for hover color over interactive base surfaces */
    --colorSurfaceBaseHover: var(--colorNeutralGrayscale400);    
    /* Use for press color over interactive base surfaces */
    --colorSurfaceBasePress: var(--colorNeutralGrayscale500);    
    /* Use for icons on base surface */
    --colorSurfaceDark: var(--colorNeutralGrayscale900);    
    /* Use for very dark elements in light mode */
    --colorSurfaceContrast: var(--colorNeutralGrayscale1500);    
    /* Use for mid-tone elements and surfaces */
    --colorSurfaceMidTone: var(--colorNeutralGrayscale500);    
    /* Use for interactive surfaces in mid-tone */
    --colorSurfaceMidToneHover: var(--colorNeutralGrayscale600);    
    /* Use for primary actions and highly emphasised elements of interface */
    --colorSurfacePrimary: var(--colorCoreBlue600);    
    /* Use for hover over surfaces in primary color */
    --colorSurfacePrimaryHover: var(--colorCoreBlue700);    
    /* Use for pressed surfaces in primary color */
    --colorSurfacePrimaryPress: var(--colorCoreBlue800);    
    /* Use for icons and white elements on primary surface */
    --colorSurfaceOnPrimary: var(--colorNeutralGrayscale100White_);    
    /* Use for hover over interactive base surface in primary tone */
    --colorSurfacePrimaryLightHover: var(--colorCoreBlue100);    
    /* Use for pressed state of interactive base surface in primary tone */
    --colorSurfacePrimaryLightPress: var(--colorCoreBlue200);    
    /* Use for non interactive primary elements */
    --colorSurfaceSubtlePrimary: var(--colorCoreBlue100);    
    /* Use for icons and element on subtle primary surfaces */
    --colorSurfaceOnSubtlePrimary: var(--colorCoreBlue700);    
    /* Use for selected interactive base surfaces */
    --colorSurfaceSelectedPrimary: var(--colorCoreBlue100);    
    /* Use for icons and elements on selected primary surface */
    --colorSurfaceOnSelectedPrimary: var(--colorCoreBlue700);    
    --colorSurfaceError: var(--colorErrorRed600);    
    --colorSurfaceErrorHover: var(--colorErrorRed700);    
    --colorSurfaceErrorPress: var(--colorErrorRed800);    
    --colorSurfaceOnError: var(--colorNeutralGrayscale100White_);    
    --colorSurfaceErrorLightHover: var(--colorErrorRed100);    
    --colorSurfaceErrorLightPress: var(--colorErrorRed200);    
    --colorSurfaceSubtleError: var(--colorErrorRed100);    
    --colorSurfaceOnSubtleError: var(--colorErrorRed700);    
    --colorSurfaceSuccess: var(--colorSuccessGreen600);    
    --colorSurfaceSuccessHover: var(--colorSuccessGreen700);    
    --colorSurfaceSuccessPress: var(--colorSuccessGreen800);    
    --colorSurfaceOnSuccess: var(--colorNeutralGrayscale100White_);    
    --colorSurfaceSuccessLightHover: var(--colorSuccessGreen100);    
    --colorSurfaceSuccessLightPress: var(--colorSuccessGreen200);    
    --colorSurfaceSubtleSuccess: var(--colorSuccessGreen100);    
    --colorSurfaceOnSubtleSuccess: var(--colorSuccessGreen700);    
    --colorSurfaceAccessibleWarning: var(--colorWarningYellow800);    
    --colorSurfaceWarning: var(--colorWarningYellow600);    
    --colorSurfaceWarningHover: var(--colorWarningYellow700);    
    --colorSurfaceOnWarning: var(--colorNeutralGrayscale1400);    
    --colorSurfaceWarningLightHover: var(--colorWarningYellow100);    
    --colorSurfaceWarningLightPress: var(--colorWarningYellow200);    
    --colorSurfaceSubtleWarning: var(--colorWarningYellow100);    
    --colorSurfaceOnSubtleWarning: var(--colorWarningYellow900);    
    --colorTextBase: var(--colorNeutralGrayscale1400);    
    --colorTextSubtle: var(--colorNeutralGrayscale900);    
    --colorTextContrast: var(--colorNeutralGrayscale100White_);    
    --colorTextPrimary: var(--colorCoreBlue600);    
    --colorTextPrimaryHover: var(--colorCoreBlue700);    
    --colorTextOnPrimary: var(--colorNeutralGrayscale100White_);    
    --colorTextError: var(--colorErrorRed600);    
    --colorTextOnError: var(--colorNeutralGrayscale100White_);    
    --colorTextSuccess: var(--colorSuccessGreen600);    
    --colorTextSuccessHover: var(--colorSuccessGreen700);    
    --colorTextOnSuccess: var(--colorNeutralGrayscale100White_);    
    --colorTextWarning: var(--colorWarningYellow800);    
    --colorTextOnWarning: var(--colorNeutralGrayscale1400);    
    --colorTextOnSubtlePrimary: var(--colorCoreBlue700);    
    --colorTextOnSubtleError: var(--colorErrorRed700);    
    --colorTextOnSubtleSuccess: var(--colorSuccessGreen700);    
    --colorTextOnSubtleWarning: var(--colorWarningYellow900);    
    --colorTextOnSelectedPrimary: var(--colorCoreBlue700);    
    --colorBorderSubtle: var(--colorNeutralGrayscale400);    
    --colorBorderBase: var(--colorNeutralGrayscale500);    
    --colorBorderContrast: var(--colorNeutralGrayscale100White_);    
    --colorBorderPrimary: var(--colorCoreBlue600);    
    --colorBorderPrimaryHover: var(--colorCoreBlue700);    
    --colorBorderError: var(--colorErrorRed600);    
    --colorBorderErrorHover: var(--colorErrorRed700);    
    --colorBorderSuccess: var(--colorSuccessGreen600);    
    --colorBorderWarning: var(--colorWarningYellow600);    
    --colorBorderFocusPrimary: var(--colorCoreBlue700);    
    --colorBorderFocusPrimaryLight: var(--colorCoreBlue200);    
    --colorBorderFocusError: var(--colorErrorRed700);    
    --colorBorderFocusErrorLight: var(--colorErrorRed200);    
    --colorBorderFocusSuccess: var(--colorSuccessGreen700);    
    --colorBorderFocusWarning: var(--colorWarningYellow900);    
    --colorSurfaceWarningPress: var(--colorWarningYellow800);    
}