
:root {
    /* Use for panel (container) and component surface color */
    --colorSurfaceBase: #ffffff;    
    /* Use for the UI background */
    --colorSurfaceBackground: #f0f4f8;    
    /* Use for emphasised areas in panels */
    --colorSurfaceOverlay: #f8fafc;    
    /* Use for hover color over interactive base surfaces */
    --colorSurfaceBaseHover: #e7ecf1;    
    /* Use for press color over interactive base surfaces */
    --colorSurfaceBasePress: #d0d7de;    
    /* Use for icons on base surface */
    --colorSurfaceDark: #656c78;    
    /* Use for very dark elements in light mode */
    --colorSurfaceContrast: #1b1e22;    
    /* Use for mid-tone elements and surfaces */
    --colorSurfaceMidTone: #d0d7de;    
    /* Use for interactive surfaces in mid-tone */
    --colorSurfaceMidToneHover: #bac0c7;    
    /* Use for primary actions and highly emphasised elements of interface */
    --colorSurfacePrimary: #0074e8;    
    /* Use for hover over surfaces in primary color */
    --colorSurfacePrimaryHover: #005ac2;    
    /* Use for pressed surfaces in primary color */
    --colorSurfacePrimaryPress: #00439c;    
    /* Use for icons and white elements on primary surface */
    --colorSurfaceOnPrimary: #ffffff;    
    /* Use for hover over interactive base surface in primary tone */
    --colorSurfacePrimaryLightHover: #e6f7ff;    
    /* Use for pressed state of interactive base surface in primary tone */
    --colorSurfacePrimaryLightPress: #a8dfff;    
    /* Use for non interactive primary elements */
    --colorSurfaceSubtlePrimary: #e6f7ff;    
    /* Use for icons and element on subtle primary surfaces */
    --colorSurfaceOnSubtlePrimary: #005ac2;    
    /* Use for selected interactive base surfaces */
    --colorSurfaceSelectedPrimary: #e6f7ff;    
    /* Use for icons and elements on selected primary surface */
    --colorSurfaceOnSelectedPrimary: #005ac2;    
    --colorSurfaceError: #dc2626;    
    --colorSurfaceErrorHover: #b5161b;    
    --colorSurfaceErrorPress: #8f0a13;    
    --colorSurfaceOnError: #ffffff;    
    --colorSurfaceErrorLightHover: #fff2f0;    
    --colorSurfaceErrorLightPress: #ffd5cf;    
    --colorSurfaceSubtleError: #fff2f0;    
    --colorSurfaceOnSubtleError: #b5161b;    
    --colorSurfaceSuccess: #008933;    
    --colorSurfaceSuccessHover: #006529;    
    --colorSurfaceSuccessPress: #00461f;    
    --colorSurfaceOnSuccess: #ffffff;    
    --colorSurfaceSuccessLightHover: #deffe7;    
    --colorSurfaceSuccessLightPress: #a6eeb9;    
    --colorSurfaceSubtleSuccess: #deffe7;    
    --colorSurfaceOnSubtleSuccess: #006529;    
    --colorSurfaceAccessibleWarning: #a46a00;    
    --colorSurfaceWarning: #ffb600;    
    --colorSurfaceWarningHover: #d69200;    
    --colorSurfaceOnWarning: #25282e;    
    --colorSurfaceWarningLightHover: #fffce6;    
    --colorSurfaceWarningLightPress: #fff1a3;    
    --colorSurfaceSubtleWarning: #fffce6;    
    --colorSurfaceOnSubtleWarning: #895400;    
    --colorTextBase: #25282e;    
    --colorTextSubtle: #656c78;    
    --colorTextContrast: #ffffff;    
    --colorTextPrimary: #0074e8;    
    --colorTextPrimaryHover: #005ac2;    
    --colorTextOnPrimary: #ffffff;    
    --colorTextError: #dc2626;    
    --colorTextOnError: #ffffff;    
    --colorTextSuccess: #008933;    
    --colorTextSuccessHover: #006529;    
    --colorTextOnSuccess: #ffffff;    
    --colorTextWarning: #a46a00;    
    --colorTextOnWarning: #25282e;    
    --colorTextOnSubtlePrimary: #005ac2;    
    --colorTextOnSubtleError: #b5161b;    
    --colorTextOnSubtleSuccess: #006529;    
    --colorTextOnSubtleWarning: #895400;    
    --colorTextOnSelectedPrimary: #005ac2;    
    --colorBorderSubtle: #e7ecf1;    
    --colorBorderBase: #d0d7de;    
    --colorBorderContrast: #ffffff;    
    --colorBorderPrimary: #0074e8;    
    --colorBorderPrimaryHover: #005ac2;    
    --colorBorderError: #dc2626;    
    --colorBorderErrorHover: #b5161b;    
    --colorBorderSuccess: #008933;    
    --colorBorderWarning: #ffb600;    
    --colorBorderFocusPrimary: #005ac2;    
    --colorBorderFocusPrimaryLight: #a8dfff;    
    --colorBorderFocusError: #b5161b;    
    --colorBorderFocusErrorLight: #ffd5cf;    
    --colorBorderFocusSuccess: #006529;    
    --colorBorderFocusWarning: #895400;    
    --colorCoreBlue100: #e6f7ff;    
    --colorCoreBlue200: #a8dfff;    
    --colorCoreBlue300: #7acaff;    
    --colorCoreBlue400: #52b4ff;    
    --colorCoreBlue500: #2795f5;    
    --colorCoreBlue600: #0074e8;    
    --colorCoreBlue700: #005ac2;    
    --colorCoreBlue800: #00439c;    
    --colorCoreBlue900: #002f75;    
    --colorCoreBlue1000: #001d4f;    
    --colorMediaPurple300: #e5adff;    
    --colorMediaPurple500: #c261ff;    
    --colorMediaPurple600: #a933fb;    
    --colorMediaPurple800: #6211ad;    
    --colorRetailCpgTeal500: #389d91;    
    --colorRetailCpgTeal600: #068576;    
    --colorNeutralGrayscale100White_: #ffffff;    
    --colorNeutralGrayscale200: #f8fafc;    
    --colorNeutralGrayscale300: #f0f4f8;    
    --colorNeutralGrayscale400: #e7ecf1;    
    --colorNeutralGrayscale500: #d0d7de;    
    --colorNeutralGrayscale600: #bac0c7;    
    --colorNeutralGrayscale700: #a5acb4;    
    --colorNeutralGrayscale800: #8c939f;    
    --colorNeutralGrayscale900: #656c78;    
    --colorNeutralGrayscale1000: #555b64;    
    --colorNeutralGrayscale1100: #424850;    
    --colorNeutralGrayscale1200: #393f48;    
    --colorNeutralGrayscale1300: #2e323a;    
    --colorNeutralGrayscale1400: #25282e;    
    --colorNeutralGrayscale1500: #1b1e22;    
    --colorNeutralGrayscale1600: #121417;    
    --colorErrorRed100: #fff2f0;    
    --colorErrorRed200: #ffd5cf;    
    --colorErrorRed300: #ffafa6;    
    --colorErrorRed400: #f58078;    
    --colorErrorRed500: #eb625d;    
    --colorErrorRed600: #dc2626;    
    --colorErrorRed700: #b5161b;    
    --colorErrorRed800: #8f0a13;    
    --colorErrorRed900: #69020c;    
    --colorSuccessGreen100: #deffe7;    
    --colorSuccessGreen200: #a6eeb9;    
    --colorSuccessGreen300: #71cd8a;    
    --colorSuccessGreen400: #43b766;    
    --colorSuccessGreen500: #20a54c;    
    --colorSuccessGreen700: #006529;    
    --colorSuccessGreen800: #00461f;    
    --colorSuccessGreen900: #002d15;    
    --colorSuccessGreen1000: #001f0f;    
    --colorWarningYellow100: #fffce6;    
    --colorWarningYellow200: #fff1a3;    
    --colorWarningYellow300: #ffe77a;    
    --colorWarningYellow400: #ffd952;    
    --colorWarningYellow500: #ffc929;    
    --colorWarningYellow600: #ffb600;    
    --colorWarningYellow700: #d69200;    
    --colorWarningYellow800: #a46a00;    
    --colorWarningYellow900: #895400;    
    --colorWarningYellow1000: #663c00;    
    --colorMediaPurple100: #fbf0ff;    
    --colorMediaPurple200: #f3d6ff;    
    --colorMediaPurple400: #d485ff;    
    --colorMediaPurple700: #8320d4;    
    --colorMediaPurple900: #450787;    
    --colorMediaPurple1000: #2e0461;    
    --colorRetailCpgTeal100: #e6f3f1;    
    --colorRetailCpgTeal200: #b2d9d5;    
    --colorRetailCpgTeal300: #8cc7c0;    
    --colorRetailCpgTeal400: #58ada3;    
    --colorRetailCpgTeal700: #05796b;    
    --colorRetailCpgTeal800: #045e54;    
    --colorRetailCpgTeal900: #034941;    
    --colorRetailCpgTeal1000: #033832;    
    --colorErrorRed1000: #420109;    
    --colorSuccessGreen600: #008933;    
    --colorPublicOrange100: #faede6;    
    --colorPublicOrange200: #efc8b2;    
    --colorPublicOrange300: #e8ae8d;    
    --colorPublicOrange400: #dd885a;    
    --colorPublicOrange500: #d9723a;    
    --colorPublicOrange600: #cc4e08;    
    --colorPublicOrange700: #ba4707;    
    --colorPublicOrange800: #913706;    
    --colorPublicOrange900: #702b04;    
    --colorPublicOrange1000: #562103;    
    --colorSurfaceWarningPress: #a46a00;    
}