.typographyH136pxTightRegular 
, .typographyTypographyTestWithTypographyReference {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyH136pxTightSemiBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyH136pxTightBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyH228pxTightRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyH228pxTightSemiBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyH228pxTightBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyH322pxTightRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyH322pxTightSemiBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyH322pxTightBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyH418pxTightRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyH418pxTightSemiBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyH418pxTightBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyH516pxTightRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyH516pxTightSemiBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyH516pxTightBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyH614pxTightRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyH614pxTightSemiBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyH614pxTightBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyParagraphL16pxRelaxRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyParagraphL16pxRelaxSemiBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyParagraphL16pxRelaxBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyParagraphM14pxRelaxRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyParagraphM14pxRelaxSemiBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyParagraphM14pxRelaxBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyParagraphS12pxRelaxRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyParagraphS12pxRelaxSemiBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyParagraphS12pxRelaxBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMicro10pxTightRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMicro10pxTightSemiBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMicro10pxTightBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyTestWithTokensUpdated 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSize6);
  line-height: var(--measureLineHeightRelax);
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyMonoMonoL16px_ 
 {
  
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMonoMonoM14px_ 
 {
  
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMonoMonoS12px_ 
 {
  
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyTestGithubNew 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSize6);
  line-height: var(--measureLineHeightTight);
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyTest1234New 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyHhvjhjh 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMonoL 
 {
  
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSize3);
  line-height: var(--measureLineHeightTight);
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyTypographyTestWithTypographyReference 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

